AddKeysToAgent yes

Host *.github.com github.com
  IdentityFile ~/.ssh/id_github

Host *.gitlab.com gitlab.com
  IdentityFile ~/.ssh/id_gitlab

Host *.bitbucket.org bitbucket.org
  IdentityFile ~/.ssh/id_bitbucket

Host *.codeberg.org codeberg.org
  IdentityFile ~/.ssh/id_codeberg

Host *.readthedocs.com
  ForwardAgent yes
  User readthedocs
  IdentityFile ~/rtd-vpn/ssh/id_rtd.com

Host *.readthedocs.org
  ForwardAgent yes
  User readthedocs
  IdentityFile ~/rtd-vpn/ssh/id_rtd.org

Host pi
  User pi
  IdentityFile ~/.ssh/id_pi

Host mrpi
  User mrpi
  IdentityFile ~/.ssh/id_mrpi

# vim: ft=sshconfig
