"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-package-deps":
    ignored: []
  "autocomplete-plus":
    enableExtendedUnicodeSupport: true
    useCoreMovementCommands: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    reopenProjectMenuCount: 10
    telemetryConsent: "limited"
  editor:
    fontFamily: "DejaVuSansMonoForPowerline Nerd Font"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "11e7925d-fd58-4dc4-87ba-4b09650b7f62"
  "file-icons": {}
  "git-plus":
    general: {}
  "one-dark-ui":
    layoutMode: "Compact"
  "platformio-ide-terminal":
    core: {}
    style:
      theme: "one-dark"
    toggles:
      autoClose: true
  "spell-check":
    locales: [
      "es-ES"
      "en-US"
    ]
  tabs:
    enableMruTabSwitching: false
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
