# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-workspace':
  # Cursor history
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

'atom-workspace atom-panel-container.modal':
  # Command palette: Move up and down with ctrl-j, ctrl-k
  'ctrl-k': 'core:move-up'
  'ctrl-j': 'core:move-down'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # Toggle comments
  'space c': 'vim-mode-plus:toggle-line-comments'

  # Move between panes
  'space l': 'pane:show-next-item'
  'space j': 'pane:show-previous-item'

  # Close pane
  'space q': 'tab:close'

  # Show spellcheck
  'z =': 'spell-check:correct-misspelling'

  # Use leader (space) for clipboard register (yank, delete, etc)
  'space': 'vim-mode-plus:set-register-name-to-*'

'atom-text-editor[mini]':
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'ctrl-w': 'editor:delete-to-beginning-of-word'

'atom-text-editor.vim-mode-plus.normal-mode':
  # Open here
  'g f': 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
  'g x': 'link:open'

'body atom-text-editor.autocomplete-active':
  'shift-tab': 'autocomplete-plus:move-up'
  'tab': 'autocomplete-plus:move-down'
